$br-primary: #ffd500;
$br-secondary: #019ace;
$br-white: #ffffff;
$br-black: #000000;
$br-grey: #f8f7fe;
$br-grey-text: #9e9aab;

$spacing-xs: 2px;
$spacing-s: 4px;
$spacing-m: 8px;
$spacing-l: 16px;
$spacing-xl: 32px;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 20px;

$shadow-dropdown: 0 4px 12px rgba(0, 0, 0, 0.1);

$border-radius-s: 2px;
$border-radius-m: 4px;
