<div class="funnel-step">
  <div class="funnel-step__event">
    <div class="funnel-step__event__name">
      <div>{{ index + 1 }}. step:</div>
      <b>
        {{ step.event ?? 'Unnamed step' }}
      </b>
      <ng-icon name="heroPencil" />
    </div>
    <app-dropdown
      placeholder="Select an event"
      [options]="eventTypeOptions"
      [searchable]="true"
      [value]="step.event"
      (onSelect)="onEventTypeChange($event)"
    />
  </div>
  <div class="funnel-step__attributes">
    @if (step.event) {
      @for (attribute of step.attributes; track attribute.id; let i = $index) {
        <app-event-attribute
          [attribute]="attribute"
          [funnelStepId]="step.id"
          [properties]="selectedEventProperties"
          [isFirst]="i === 0"
          [eventType]="step.event"
        />
      }
      <app-button
        type="secondary"
        [label]="step.attributes.length > 0 ? 'Refine more' : '+ Add an event attribute'"
        (onClick)="addEventAttribute(step.id)"
        class="funnel-step__events__add-event-button"
      />
    }
  </div>
  <div class="funnel-step__icons">
    <app-button type="icon" (onClick)="deleteFunnelStep()" iconName="heroTrash" />
    <app-button type="icon" (onClick)="copyFunnelStep()" iconName="heroDocumentDuplicate" />
  </div>
</div>
