@if (!isFirst) {
  <span class="event-attribute__and">AND</span>
}
<div class="event-attribute">
  <app-dropdown
    placeholder="Select an attribute"
    [options]="propertyOptions"
    [value]="attribute.property"
    (onSelect)="onPropertyChange($event)"
    [prefix]="eventType"
    [searchable]="true"
  />
  @if (attribute.property) {
    <app-multi-picker-dropdown
      [groups]="comparatorGroups"
      [selectedGroupId]="selectedGroupId()"
      [selectedOption]="comparatorLabel"
      (selectedGroupIdChange)="selectedGroupId.set($event)"
      (selectedOptionChange)="onComparatorChange($event)"
    />
    <app-attribute-value-input [attribute]="attribute" (onValueChange)="onValueChange($event)" />
  }
  <app-button iconName="heroXMark" (onClick)="deleteEventAttribute()" type="icon" />
</div>
