@use 'variables' as *;

$val-dropdown-width: 150px;
$val-max-dropdown-menu-width: 300px;
$val-max-dropdown-menu-height: 200px;

.dropdown {
  position: relative;

  & > button {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    gap: $spacing-s;
    align-items: center;
    font-size: $font-size-s;
    width: $val-dropdown-width;
    padding: $spacing-s $spacing-m;
    background-color: $br-grey;
    border: 1px solid $br-grey-text;
    border-radius: $border-radius-s;

    &:hover {
      font-weight: bold;
    }
  }

  &__selected {
    font-weight: 600;
    color: $br-black;
  }

  &__placeholder {
    color: $br-grey-text;
    font-weight: 600;
  }

  &__caret {
    color: $br-grey-text;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-dropdown;
    background-color: $br-white;
    position: absolute;
    max-height: $val-max-dropdown-menu-height;
    width: $val-max-dropdown-menu-width;
    z-index: 2;
    font-size: $font-size-s;
    border: 1px solid $br-grey;
    border-radius: $border-radius-s;
    overflow: auto;

    &__search {
      display: flex;
      align-items: center;
      padding: 0 $spacing-m;
      border-bottom: 1px solid $br-grey-mid;

      &__prefix {
        padding: $spacing-s;
        font-size: $font-size-xs;
        background-color: $br-grey-mid;
        color: $br-grey-text;
        font-weight: bold;
        height: $spacing-l;
      }

      & > input {
        border: none;
        outline: none;
        padding: $spacing-m;
        margin-bottom: $spacing-s;

        &::placeholder {
          color: $br-grey-text;
        }
      }
    }

    &__item {
      font-weight: 600;
      padding: $spacing-s;
      cursor: pointer;
      background-color: $br-white;
      border: none;
      text-align: left;

      &:hover {
        background-color: $br-primary;
      }
    }
  }
}
